* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  scrollbar-width: none;
}
section {
  padding: 50px;
  background: #000000;
}

.titleArea {
  font-size: 2.5em;
  color: #fff;
}

.paragraphText p {
  font-size: 1.2em;
  color: #fff;
  text-indent: 50px;
}

::-webkit-scrollbar {
  width: 0;
}

#path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#scroll {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 138, 255, 0.8),
    rgba(0, 255, 231, 0.8)
  );
  animation: lights 5s linear infinite;
}

#scroll:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 138, 255, 0.8),
    rgba(0, 255, 231, 0.8)
  );
  filter: blur(10px);
}
#scroll:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #314263, rgba(0, 255, 231, 0.8));
  filter: blur(30px);
}

#percent {
  height: 20px;
  width: 43px;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 25px;
  color: #fff;
  font-size: 1.5em;

  background: rgba(26, 22, 22, 0.5);
  padding: 20px 30px;

  /* background */
  /* background: linear-gradient(
    to top,
    rgba(31, 37, 41, 0.2),
    rgba(3, 63, 57, 0.5)
  ); 
  animation: lights 5s linear infinite;
  */
  /* height: 10px; */
  /* width: 20px; */

  /* make it sideways */
  /* transform: translateY(-50%) rotate(180deg); */
  /* top: 50% */
  /* writing-mode: vertical-rl; */
  /* text-orientation: sideways; */
}

@keyframes lights {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
